.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePicEmpty {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: red;
}

.profilePicContainer {
  width: 100px;
  height: 100px;
}
